@import "../../../styles/variables.scss";
.team-members-container {
  .add-box {
    display: flex;
    align-items: flex-end;
    div {
      margin-right: 10px;
      flex: 1;
    }
  }

  .user-list-wrapper {
    .user-list-title {
      display: block;
      padding: 20px 0 10px 0;
      border-bottom: 1px solid #eeeeee;
      font-weight: 600;
    }
    .user-list {
      .user-item {
        display: flex;
        padding: 8px 2px 8px 0;
        border-bottom: 1px solid #eeeeee;
        align-items: center;
        .id {
          color: rgba(0, 0, 0, 0.25);
        }
        .icon {
          display: inline-block;
          background-color: $theme-color;
          border-radius: 12px;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          margin-right: 10px;
        }

        div {
          flex: 1;
        }
      }
    }
  }
}
