@import "../../../styles/variables.scss";
.team-members-container {
  .add-box {
    display: flex;
    align-items: flex-end;
    div {
      margin-right: 10px;
      flex: 1;
    }
    label{
      font-size: 10px;
      color:#787878;
      font-weight: 600;
    }
  }

  .user-list-wrapper {
    .user-list-title {
      display: block;
      padding: 20px 0 10px 0;
      border-bottom: 1px solid #eeeeee;
      font-weight: 600;
      color: #333;
      font-size: 14px;
    }
    .user-list {
      .user-item {
        display: flex;
        padding: 8px 2px 8px 0;
        border-bottom: 1px solid #eeeeee;
        align-items: center;
        .id {
          color: #999999;
          font-size: 12px;
        }
        .icon {
          display: inline-block;
          background-color: $theme-color;
          border-radius: 16px;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ffffff;
          margin-right: 10px;
          font-size: 14px;
          text-transform: uppercase;
        }
        .name{
          color: #333;
          font-size: 14px;
        }

        div {
          flex: 1;
        }

        .anticon.anticon-close{
          color: #999999;
          font-size: 16px;
        }
        
      }

      .role{
        color:#383A3C;
        font-size: 14px;
      }
    }
  }
}
