.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 12px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

[data-theme="dark"] .editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #434343;
}

a.ant-typography,
.ant-typography a {
  color: #333;
  span {
    width: 100%;
  }
}

a.ant-typography:focus,
.ant-typography a:focus,
a.ant-typography:hover,
.ant-typography a:hover {
  color: #000000d9;
}

.ant-table-cell > span {
  span.anticon-close {
    color: red;
    font-weight: bold;
  }
  span.anticon-check {
    color: green;
    font-weight: bold;
  }
}

span.popover-action {
  cursor: pointer;
}

span.anticon.anticon-close.ant-modal-close-icon {
  color: black;
}

.ant-btn-primary {
  background-color: #ca4a04;
  border-color: #ca4a04;
}

.ant-btn-primary.login__button {
  background-color: black;
  border-color: black;
  height: 40px;
}
.sub-criteria-wrapper {
  display: flex;
  background-color: #ffffff;
  border: 1px solid #fbfbfb;

  .ant-input,
  .sub-row-non-editable {
    // margin-right: 20px;
    color: #333;
  }

  .actions {
    margin-left: 5px;
    display: flex;
    align-items: center;
    padding: 0 6px;
    .anticon {
      cursor: pointer;
    }
    .anticon.anticon-check {
      margin-right: 5px;
    }
  }

  .serial-number{
    // display: none;
    padding-left: 15px;
    padding-right: 5px;
    color: transparent;
  }
}
.sub-criteria-wrapper:hover, .sub-criteria-wrapper:focus {
  background-color: #e7e7e7;
}
.sub-row-non-editable:nth-child(2) {
  flex: 1.5;
  padding: 4px 1px;
  cursor: pointer;
}
.sub-row-non-editable:nth-child(3) {
  flex: 1;
  padding: 4px 1px;
  cursor: pointer;
}
.sub-row-non-editable:nth-child(4) {
  flex: 1;
  padding: 4px 1px;
  cursor: pointer;
}

.ant-modal-title{
  font-size: 24px;
  color: #2D2D2D;
}

.ant-modal-body{
  p{
    font-size: 18px;
    color: #333;
  }

  span{
    font-size: 16px;
    color: #666666;
  }

  .ant-input{
    font-size: 18px;
    color: #333;
  }
}

.ant-modal-footer{
  .ant-btn-primary{
    font-size: 16px;
  }
}

.notshow{ 
  display: none;
}

.sectionPanel {
  .ant-table-content .ant-table-tbody {
    tr.editable-row {
      display: flex;
      // width: 100%;
      // justify-content: space-between;
      .ant-table-cell:first-child {
        width: 15px;
        .ant-table-row-expand-icon {
          color: transparent;
          border-color: transparent;
          visibility: hidden;
        }
      }
      .ant-table-cell:nth-child(3) {
        flex: 1.5;
      }
      .ant-table-cell:nth-child(4) {
        flex: 1;
      }
      .ant-table-cell:nth-child(5) {
        flex: 1;
      }
      .ant-table-cell:last-child {
        flex: 0.1;

      }
    }

    .ant-table-row-expand-icon-cell {
      width: 5px;
    }
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 16px 5px 16px 5px;
}
}
