@import "../../styles/variables.scss";
.trial-portfolio-container {
    .upper.step-item{
        padding: unset;
        height:41px;
        background-color: unset;
        border-bottom: 1px solid #dedede;

        .action-part{
            margin-top: 5px;

            .status-filter{
                margin: 0 25% 0 30%;
                .item{
                    margin-right: 10px;
                }
            }
        }

        .export-part,  .export-part:hover{
            // width: 10%;
            float: right;
            font-weight: 400;
            border: 1.5px solid #d04a02;
            cursor: pointer;
            transform:translateY(-40px);

            .ant-btn-group.ant-dropdown-button{
                .ant-btn.ant-btn-default{
                    border-top:none;
                    border-left:none;
                    border-bottom:none;
                    border-right: 1px solid #d04a02;
                    color:#d04a02;
                }

                .ant-btn.ant-btn-default.ant-btn-icon-only{
                    border-left:1px solid #d04a02;
                }
            }
        }

        .main-container{
            margin:3px 0px;

            .none-click{
                pointer-events: none;
            }
            .left-container{
                width: 30%;
                float: left;
                background-color: #e7e7e7;
                margin-top: -7px;

                .right-icon{
                    float: right;
                    min-width:30px;
                }

                .item{
                    margin: 5px 10px;
                    span{
                        font-size:14px;
                    }

                    .tip-1{
                        width: 60%;
                        display: inline-block;

                        span{
                            font-size:6px;
                            color: #8a8686;
                        }
                    }

                    .tip-2{
                        display:inline-block;
                        width: 35%;
                        text-align: right;

                        .label {
                            font-size:6px;
                        }
                    }
                }

                .content-over{
                    width: calc(100% + 16px);
                    height:400px;
                    overflow:auto;
                        
                    .item.box{
                        background-color: #f5f5f5;
                        border: 8px solid #f5f5f5;
                        font-weight:bold;

                        .select-option {
                            font-weight:normal;
                            border: 1px solid #ddd;
                            margin: 2px 5px;
                            padding: 2px 15px;
                            border-radius: 10px;
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                            display: inline-block;
                            font-size: 6px;
                        }

                        .select-option:hover {
                            cursor: pointer;
                        }

                        .select-option.selected{
                            color:#578be2;
                            border-color: #578be2;
                            span{
                                font-size: 6px;
                            }
                        }

                        .tick-icon {
                            display: inline-block;
                            position: relative;
                            width: 15px;
                            height: 15px;
                            border-radius: 50%;
                            background-color: #f5f5f5;
                        }
                            
                            
                        .tick-icon:before, .tick-icon:after{
                            content: '';
                            pointer-events: none;
                            position: absolute;
                            color: #f5f5f5;
                            background-color: #578be2;
                        }
                            
                        .tick-icon:before{
                            width: 6px;
                            height: 3px;
                            left: 1%;
                            top: 65%;
                            transform: skew(0deg,50deg);
                        }
                        
                        
                        .tick-icon:after {
                            width: 10px;
                            height: 3px;
                            left: 35%;
                            top: 47%;
                            transform: skew(0deg,-50deg);
                        }
                    }
                }

                .updateTrial{
                    background-color: #f5f5f5;
                    text-align: center;
                    border-right: 1px solid #ddd;
                    border-top: 10px solid #e7e7e7;
                    min-height: 150px;

                    .update-btn{
                        margin-top: 10px;
                        border: 1.5px solid #d04a02;
                        color: #d04a02;
                        width:90%;
                        background-color: #f5f5f5;
                    }
                }
                
            }

            .right-container{
                display:inline-block;
                margin: -20px 20px 0px 20px;
                width: 65%;

                .impact-summary, .criteria-list{
                    width: 100%;
                    display:inline-block;
                    border-left: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    padding:5px 20px;

                    span{
                        font-weight: bold;
                    }

                    bUtton{
                        float:right;
                    }

                    .list-columns{
                        display: flex;
                        padding: 5px 16px;

                        div {
                            flex: 1 1;
                            color: #000000;
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }

                .impact-summary{
                    border-bottom: 1px solid #ddd;
                }

                .collapse-inner{
                    width: calc(100% + 20px);
                    height: 280px;
                    overflow:auto;

                    .right-icon{
                        float: right;
                        min-width:30px;
                        padding-right:30px;
                    }
                }

                .collapse-inner.taller{
                    height:450px;
                }

                span.tip1-desc{
                    width: 60%;
                    display: inline-block;
                    font-size:6px;
                    color: #8a8686;
                }

                .option-item {
                    border-right: 1px solid #ddd;
                }

                .trial-panelHeader{
                    .bar-desc {
                        font-size: 16px;
                        font-weight: bold;
                        display:inline-block;
                        min-width:150px;
                        border-right: 2px solid #ddd;
                        margin-right:10px;
                    }

                    .item-desc {
                        min-width: 120px;
                        display:inline-block;
                        span{
                            font-size:6px;
                        }

                        .bar-item{
                            display:inline-block;
                            content: "";
                            width: 7px;
                            height: 7px;
                            border-radius: 5px;
                            margin-right:5px;
                        }

                        .item1{
                            background-color: #0001ff;
                        }

                        .item2{
                            background-color: #578be2;
                        }

                        .item3{
                            background-color: #80aacc;
                        }

                        .item4{
                            background-color: #ddd;
                        }
                    }
                }

                .ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-header {
                    padding-left: 40px;
                }

                .ant-collapse > .ant-collapse-item {
                    border-bottom: 1px solid #d9d9d9;
                    background-color: #f5f5f5;
                }

                .sectionPanel > .ant-collapse > .ant-collapse-item {
                    background-color: #e7e7e7;
                }

                .ant-collapse-content > .ant-collapse-content-box{
                    div.chart-container{
                        display:inline-block;
                        width:45%;

                        .label{
                            padding-left: calc(80% - 120px);
                        }
                    }

                    div.chart-container.box{
                        border-left: 1px solid #ddd;
                        padding-left: 16px;
                    }
                }
            }
        }
    }

    .action-footer{
        display: inline-table;
        width: 100%; 
        height: 50px; 
        background-color: #000;

        Button{
            margin-top:10px;
            margin-right: 30px;
            float: right;
        }
        Button.view-btn {
            background-color: #000 !important;
            color: #ffffff !important;
            border-color: #000;
        }
    }
}

.content-outer{
    overflow:hidden;
    width: 100%;
}

.action-container{
    .ant-modal-wrap .ant-modal{
        width: 300px !important;
    }

    .web {
        .ant-modal-content {
          position: relative;
          background-color: #00000000 !important;
          border: 0;
          border-radius: 4px;
          background-clip: padding-box;
          box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
        }
      
        .ant-modal-body {
          padding: 0 !important;
          font-size: 0 !important;
          line-height: 1 !important;
        }
      }
// }
}

.freqSection {
    background-color: #f5f5f5;
    border: 10px solid #e7e7e7;
    border-bottom: unset;
    margin: 5px 0px;
    padding:10px 10px;

    .title, .content{
        span{
            font-size: 6px;
        }

        .right-icon{
            font-size: 12px;
        }
    }
}

.ant-slider-rail{
    background-color: #efa882;
}

.ant-slider-track{
    background-color: #ca4a04;
}
.ant-slider-handle.ant-tooltip-open, .ant-slider-handle:focus {
    border-color: #ca4a04;
}
.ant-slider:hover .ant-slider-track {
    background-color: #ca4a04;
}
.ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open) {
    border-color: #efa882;
}
.ant-slider-handle{
    border: solid 2px #efa882;
}
.ant-slider-handle-dragging.ant-slider-handle-dragging.ant-slider-handle-dragging{
    border-color: #ca4a04;
}