.trial-detail-container {
    padding: 20px 30px;
    background-color: #ffffff;
    box-shadow: 0px 0px 6px #00000029;
    z-index: 2;
    position: relative;
  
    .scenario-info {
      display: grid;
      margin-bottom: 20px;

        .go-back{
            color: #000000;
            font-size: 12px;
            cursor: pointer;

            .anticon-arrow-left{
                transform:translateY(-3px);
            }
        }

        .scenario-type{
            color: #333333;
            font-size: 28px;
        }

        .scenario-desc{
            color: #333333;
            font-size: 15px;
            padding-bottom: 10px;
        }
    }
  
    .info {
      .info-row {
        display: flex;
        .scenario-section {
          display: grid;
          flex: 1;
          padding-left: 20px;

          .section-title{
            color: #333333;
            font-size: 14px;
          }
          .section-value{
            color: #414C4E;
            font-size: 26px;
            font-weight: bold;
          }
          .section-level{
            font-size: 12px;
            font-weight: 600;

            &.GOOD {
                color: #00a947;
            }
            &.POOR {
                color: #c33232;
            }
            &.FAIR {
                color: #0084a9;
            }
          }
        }
      }
    }
}

.rationale-info{
    padding: 10px 0px;
    margin: 0px 30px;
    background: #F7F7F7;
    box-shadow: 0px 0px 6px #00000029;
    display: flex;

    .title{
        font-size: 16px;
        color: #666666;
        text-transform: capitalize;
        border-right: 1px solid #ccc;
        padding: 0px 20px;
        align-self: center;
    }
    .content{
        font-size: 14px;
        padding: 0px 20px;
        font: normal normal normal 14px/21px Helvetica Neue; letter-spacing: 0px;
        color: #000000;
    }
}
  