@import "../../styles/variables.scss";
.scenario-container{
    left: 0;
    right: 0;
    background-color: #fff;
    min-height: calc(100vh - 88px);

    .action-title,  .action-title:hover{
        cursor: pointer;
        text-align: center;
    }

    .process-container{
        font-weight: 600;
    }
    .step-bar, Span{
        font-size: 12px;
    }
    
    Button{
        float: right;

        .ant-btn-primary{
            margin-right: 50px;
        }
    }

    Button.view-btn {
        background-color: #000;
        color: #fff;
        border-color: #000;
    }

    Button.view-btn:hover,  Button.view-btn:focus{
        color: #ca4a04;
        border-color: #ca4a04;
        background-color: #fff;
    }

    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon {
        background: #fff;
    }
    .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon .ant-steps-icon {
        color: #ca4a04;
    }
    .ant-steps-item-process .ant-steps-item-icon {
        border-color: #ca4a04;
    }

    .ant-steps-item-finish .ant-steps-item-icon {
        background-color: #ca4a04;
        border-color: #ca4a04;
    }
    .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
        color: #fff;
    }
    .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after {
        background-color: #f0f0f0;
    }
    span.anticon.anticon-check.ant-steps-finish-icon, span.anticon.anticon-left{
        transform: translateY(-3px);
    }

    .ie-container{
        border-top: 1px solid #dedede;
        margin-top: 10px;
        min-height: calc(100vh - 182px);
    }
}
