@import "../../styles/variables.scss";
.event-left-container{
    background-color: #f3f3f3;
    min-height: calc(100vh - 141px);

    .event-section{
        background-color: #fff;
        font-size: 14px;
        margin-top: 10px;

        .section-header{
            font-weight: bold;
            font-size: 16px;
            color: #333;

            .count-span{
                margin-left: 5px;
                padding: 0px 3px;
                background-color: #333;
                color: #fff;
                font-size: 12px;
            }

            .collapse-icon{
                .anticon-plus, .anticon-minus{
                    color: #999;
                }
            }
        }

        .eventLib.ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-header{
            padding: 6px 16px;
        }

        .eventLib.ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box{
            padding: 0px;
        }

        .ant-table-tbody > tr > td{
            padding: 6px 10px 6px 16px;
            font-size: 16px;

            .add, .remove{
                cursor: pointer;
                text-align: right;
            }
            .add{
                color: #CA4A04;
            }
            .remove{
                color:#A5A5A5;
            }
            .event-text{
                color:#333333;
            }
        }
    }
}

.event-right-container{
    height: 100%;
    width: 75%;
    .ant-dropdown-button{
        border: 1px solid #CA4A04;
    }
    .anticon.anticon-down{
        color: #CA4A04;
    }
    .anticon.anticon-down.ant-input-number-handler-down-inner, .anticon.anticon-up.ant-input-number-handler-up-inner{
        color:#666;
    }
    .ant-btn-group.ant-dropdown-button{
        .ant-btn.ant-btn-default{
            color:#CA4A04;
            border: unset;
        }
        .ant-btn.ant-btn-default.ant-btn-icon-only.ant-dropdown-trigger{
            border-left: 1px solid #CA4A04;
        }
    }

    .ant-input-number .ant-input-number-handler-wrap {
        opacity: 1;
        border-left: unset;
    }

    .ant-input-number .ant-input-number-handler-down{
        border-top: unset;
    }

    .ant-input-number.ant-input-number-sm {
        width: 50px;
    }

    .hidde{
        display: none;
    }

    .right{
        float: right;
    }
    .center{
        justify-content:center;
        text-align: center;
        align-items:center;
    }
    .tip1-desc.center{
        display:inline-block;
    }

    .none-click{
        font-size: 16px;
        color: #333;
        pointer-events: none;
        input{
            color: #333;
        }
    }
    .anticon-edit.edit-icon{
        display:inline-block;
        color: #999;
    }
    .anticon-edit.edit-icon.active{
        color: #CA4A04;
    }

    .event-chart{
        margin-top: 20px;
    }

    .event-panelHeader{
        .bar-desc {
            font-size: 16px;
            font-weight: bold;
            display:inline-block;
            min-width:70px;
            border-right: 2px solid #ddd;
        }

        .item-desc {
            margin-left:20px;
            display:inline-block;

            span{
                font-size:12px;
            }

            .bar-item{
                display:inline-block;
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 5px;
                margin-right:5px;
            }

            .item1{
                background-color: #d04a02;
            }

            .item2{
                background-color: #ed7738;
            }

            .item3{
                background-color: #ed9d72;
            }

            .item4{
                background-color: #f5b795;
            }

            .item5{
                background-color: #f3d5c5;
            }
        }

        .header-section{
            font-weight: 500;
        }
    }
}

.configure-title{
    justify-content: center;
    span{
        font-size: 18px;
        color:#333;
    }
}
.configure-desc{
    justify-content: center;
    span{
        font-size: 15px;
        color:#999;
    }
}
.modal-filed{
    .label{
        text-align: right;
        padding: 5px 10px;
        transform: translateY(5px);
        span{
            color: #333;
        }
    }

    .input-number{
        padding: 5px 10px;
        input{
            color: #333;
            font-size: 14px;
        }
    }

    .anticon.anticon-down.ant-input-number-handler-down-inner{
        color:#666;
    }

    .ant-input-number .ant-input-number-handler-wrap {
        opacity: 1;
        border-left: unset;
    }

    .ant-input-number .ant-input-number-handler-down{
        border-top: unset;
    }

    .ant-input-number.ant-input-number {
        width: 60px;
    }
}

.step-btn.create-btn span{
    color: #ffffff;
    font-size: 14px;
}