@import "../../styles/variables.scss";

.tab-container{
    width: 100%;
    min-height: calc(100vh - 156px);

    .side-toolbar{
        position: fixed;
        z-index: 1999;
        top: 225px;
        color:white;
        background-color: black;
        height: 30px;
        align-items: center;
        cursor: pointer;
        
        .panel-label{
            display:none;
        }
        .icon{
            display:inline-block;
        }

        .anticon-arrow-right{
            font-weight: 900;
            font-size: 16px;
            transform: translateY(-1px);
        }
    }

    .side-toolbar.hidden{
        display : none;
    }

    .side-toolbar:hover, .side-toolbar:focus{
        .panel-label{
            display:inline-block;
        }
    }
    
    .tip1-desc{
        color:#999;
        font-size: 15px;
        display: block;
        padding-bottom: 10px;
    }

    .ant-tabs-tab {
        font-size: 16px;
        color: #676767;
    }
    .ant-tabs-tab:hover {
        color: #CA4A04;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: #CA4A04;
    }
    .ant-tabs-ink-bar {
        background: #CA4A04;
    }
    .ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
        height: 3px;
    }
    .ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
        margin: unset;
    }

    .left-section{
        width: calc(100% - 30px);
        margin: 0 15px;

        .item-option{
            color:#aba9a9;
            font-size: 14px;
        }
    }

    .item-header{
        align-items: center;
        padding: 5px 15px;
        border-bottom: 1px solid #ddd;

        span{
            font-size:16px;
            font-weight: bold;
            color: #333;
        }

        .right-icon{
            float: right;
            min-width:30px;
        }

        span.anticon.anticon-close.right-icon, span.anticon.anticon-history.right-icon{
            transform: translateY(6px);
        }
    }

    .item{
        align-items: center;
        height:30px;
        span{
            font-size:16px;
            font-weight: 500;
        }

        .right-icon{
            float: right;
            min-width:30px;
        }
    }

    .freqSection {
        background-color: #fff;
        border: 1px solid #f3f3f3;
        padding: 5px 10px 15px 5px;
        .title, .content{
            span{
                font-size: 14px;
            }
            .right-icon{
                font-size: 12px;
                color: #999;
            }
        }
        .title{
            color:#666;
        }
        .content{
            color:#333;
        }


        .right-icon{
            float: right;
            min-width:30px;
            transform: translateY(6px);
        }
    }

    .content-outer{
        overflow-y:hidden;
        // height: calc(100vh - 431px);
        .sectionPanel {
            overflow-y: scroll;
        }
    }

    .content-sidebar{
        height: calc(100vh - 374px)!important;
    }

    .content-outer::-webkit-scrollbar {
        display: none;
    }

    .content-over{
        width: calc(100% + 20px);
        // height:400px;
        height: calc(100vh - 374px)!important;
        overflow-y:scroll;
        box-sizing: content-box;
            
        .library.box{
            background-color: #fff;
            padding: 10px;
            font-weight:bold;
            margin-bottom: 10px;
            font-size: 15px;
            color:#000;

            .select-option {
                font-weight:normal;
                border: 1px solid #E5E5E5;
                margin: 4px 10px 5px 0px;
                padding: 2px 15px;
                border-radius: 16px;
                // border-top-right-radius: 16px;
                // border-top-left-radius: 16px;
                display: inline-block;
                color: #4E4E4E;
                font-size: 14px;
            }

            .select-option:hover {
                cursor: pointer;
            }

            .select-option.selected{
                color:#3193E5;
                border-color: #3193E5;
            }

            .anticon-check{
                transform: translateY(-3px);
            }
        }

        .library.box.lastOne{
            margin-bottom: unset;
        }
    }

    .updateTrial{
        width: 100%;
        text-align: center;
        height: 50px;

        .update-btn{
            // margin-top: 20px;
            border: 1.5px solid #CF4500;
            color: #CA4A04;
            width: 90%;
            margin: 10px 5% 40px 5%;
            background-color: #fff;
            align-items: center;
        }
    }
    .main-content-right{
        border-left: 1px solid #f8f8f8;
    }

    .option-item {
        border-right: 1px solid #ddd;
    }
    .collapse-section-wrapper{
       border-bottom: 1px solid #31393F33;

        .ant-collapse > .ant-collapse-item{
            border-bottom: none;
        }
        .ant-collapse{
            border-right: 1px solid transparent;
        }

    }

    .trial-panelHeader{
        .bar-desc {
            font-size: 18px;
            color: #333;
            display:inline-block;
            min-width:150px;
            border-right: 2px solid #ddd;
            margin-right:10px;
        }

        .item-desc {
            min-width: 120px;
            display:inline-block;
            span{
                font-size:12px;
                color: #333;
            }

            .bar-item{
                display:inline-block;
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 5px;
                margin-right:5px;
            }

            .item1{
                background-color: #E53500;
            }

            .item2{
                background-color: #F27A26;
            }

            .item3{
                background-color: #F5924D;
            }

            .item4{
                background-color: #FBD0B3;
            }
        }

        .header-section{
            font-weight: 500;
            color: #333;
        }
    }

    .ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-header {
        padding-left: 40px;
    }

    .ant-collapse{
        // border-top: 1px solid #fafafa;ant-collapse
    }

    .ant-collapse > .ant-collapse-item {
        // border-bottom: 1px solid #d9d9d9;
        background-color: #fff;
    }

    .sectionPanel > .ant-collapse > .ant-collapse-item {
        background-color: #e7e7e7;
    }

    span.anticon.anticon-caret-right.ant-collapse-arrow {
        position: absolute;
        top: 5.0005px;
        left: 16px;
        padding: 12px 16px;
        padding-left: 0;
        font-size: 12px;
    }

    .ant-collapse-content > .ant-collapse-content-box{
        div.chart-container{
            display:inline-block;
            width:45%;

            .label{
                padding-left: calc(80% - 120px);
                color: #999999;
            }
        }

        div.chart-container.box{
            border-left: 1px solid #ddd;
            padding-left: 16px;
        }
    }
    .impact-summary-wrapper{
        margin-top: 20px;
        box-shadow: 0px 1px 3px #31393F33;
        // border-top: 1px solid #f8f8f8;
        // border-bottom: 1px solid #f8f8f8;
    }
    .impact-summary{
        
        font-size: 18px;
        color: #333;
    }

    .impact-summary, .criteria-list{
        width: 100%;
        display:inline-block;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        padding:5px 20px;
        // position: fixed;

        bUtton{
            float:right;
        }

        .list-columns{
            display: flex;
            padding: 5px 0 5px 50px;

            div {
                flex: 1 1;
                color: #333;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }

    .collapse-container{
        // border: 1px solid #ddd;
    }

    .collapse-inner{
        // width: calc(100% + 20px);
        width:100%;
        height: calc(100vh - 605px);
        // overflow-y:scroll;
        box-sizing: content-box;
        .sectionPanel {
            overflow-y: scroll;
            height: calc(100vh - 637px);
        }
        .right-icon{
            float: right;
            min-width:30px;
            padding-right:30px;
        }
    }

    .collapse-inner.taller{
        .sectionPanel {
            overflow-y: scroll;
            height: calc(100vh - 462px);
        }
        // height:400px;
        height: calc(100vh - 431px);
    }

    .collapse-inner.taller.collapsed{
        // height:230px
        height: calc(100vh - 605px);
        .sectionPanel {
            overflow-y: scroll;
            height: calc(100vh - 437px);
        }
    }

    .enrollment-right-section{
        // height: calc(100vh - 203px);
        // overflow-y: scroll;
        padding-bottom: 38px;
        box-sizing: border-box;
        span.chart-title {
            font-size: 16px;
            color: #000;
            font-weight: bold;
            margin-top: 10px;
            padding: 10px 0;
        }

        .enroll-tab{
            margin-top: 10px;

            .chart-tab{
                box-shadow: 0px 1px 3px #31393F33;

                .tab-item{
                    padding:10px;
                    color: #333;

                    .sub-tab-title{
                        font-size:42px;
                        font-weight:bold;
                    }

                    .tab-desc{
                        font-weight: normal;
                        font-size: 16px;
                    }
                }

                .tab-item.chart{
                    padding:10px 10px 0px 10px;
                }

                .anticon-caret-right{
                    transform: translateY(5px);
                }
            }

            .chart-tab.active{
                border: 2px solid #CA4A04;
                box-shadow: 0px 0px 11px #31393F33;
            }
        }

        .result-chart{
            margin-top:20px;
            margin-bottom: 20px;
            box-shadow: 0px 1px 5px #31393F33;
        }
    }
}

.event-left-container{
    background-color: #f3f3f3;
    min-height: calc(100vh - 141px);

    .event-section{
        background-color: #fff;
        font-size: 14px;
        margin-top: 10px;

        .section-header{
            font-weight: 500;
            font-size: 16px;
            color: #333;

            .count-span{
                margin-left: 5px;
                padding: 0px 3px;
                background-color: #333;
                color: #fff;
                font-size: 12px;
            }

            .collapse-icon{
                .anticon-plus, .anticon-minus{
                    color: #999;
                }
            }
        }

        .eventLib.ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-header{
            padding: 6px 16px;
        }

        .eventLib.ant-collapse-icon-position-left > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box{
            padding: 0px;
        }

        .ant-table-tbody > tr > td{
            padding: 6px 10px 6px 16px;
            font-size: 16px;

            .add, .remove{
                cursor: pointer;
                text-align: right;
            }
            .add{
                color: #CA4A04;
            }
            .remove{
                color:#A5A5A5;
            }
            .event-text{
                color:#333333;
            }
        }

        .eventLib {
            .ant-collapse-item:last-child > .ant-collapse-content {
                border-radius: 0 0 2px 2px;
                height: 300px;
                overflow: scroll;
            }
        }
    }
}

.event-left-container.hidden{
    display : none;
}

.event-right-container{
    height: 100%;
    width: 75%;
    .ant-dropdown-button{
        border: 1px solid #CA4A04;
    }
    .anticon.anticon-down{
        color: #CA4A04;
    }
    .anticon.anticon-down.ant-input-number-handler-down-inner, .anticon.anticon-up.ant-input-number-handler-up-inner{
        color:#666;
    }
    .ant-btn-group.ant-dropdown-button{
        .ant-btn.ant-btn-default{
            color:#CA4A04;
            border: unset;
        }
        .ant-btn.ant-btn-default.ant-btn-icon-only.ant-dropdown-trigger{
            border-left: 1px solid #CA4A04;
        }
    }

    .ant-input-number .ant-input-number-handler-wrap {
        opacity: 1;
        border-left: unset;
    }

    .ant-input-number .ant-input-number-handler-down{
        border-top: unset;
    }

    .ant-input-number.ant-input-number-sm {
        width: 50px;
    }

    .hidde{
        display: none;
    }

    .right{
        float: right;
    }
    .center{
        justify-content:center;
        text-align: center;
        align-items:center;
    }
    .tip1-desc.center{
        display:inline-block;
    }

    .none-click{
        font-size: 16px;
        color: #333;
        pointer-events: none;
        input{
            color: #333;
        }
    }
    .anticon-edit.edit-icon{
        display:inline-block;
        color: #999;
    }
    .anticon-edit.edit-icon.active{
        color: #CA4A04;
    }

    .event-chart{
        margin-top: 20px;
    }

    .event-panelHeader{
        .bar-desc {
            font-size: 16px;
            font-weight: bold;
            display:inline-block;
            min-width:70px;
            border-right: 2px solid #ddd;
        }

        .item-desc {
            margin-left:20px;
            display:inline-block;

            span{
                font-size:12px;
            }

            .bar-item{
                display:inline-block;
                content: "";
                width: 7px;
                height: 7px;
                border-radius: 5px;
                margin-right:5px;
            }

            .item1{
                background-color: #d04a02;
            }

            .item2{
                background-color: #ed7738;
            }

            .item3{
                background-color: #ed9d72;
            }

            .item4{
                background-color: #f5b795;
            }

            .item5{
                background-color: #f3d5c5;
            }
        }

        .header-section{
            font-weight: 500;
        }
    }
}

.configure-title{
    justify-content: center;
    span{
        font-size: 18px;
        color:#333;
    }
}
.configure-desc{
    justify-content: center;
    span{
        font-size: 15px;
        color:#999;
    }
}
.modal-filed{
    .label{
        text-align: right;
        padding: 5px 10px;
        transform: translateY(5px);
        span{
            color: #333;
        }
    }

    .input-number{
        padding: 5px 10px;
        input{
            color: #333;
            font-size: 14px;
        }
    }

    .anticon.anticon-down.ant-input-number-handler-down-inner{
        color:#666;
    }

    .ant-input-number .ant-input-number-handler-wrap {
        opacity: 1;
        border-left: unset;
    }

    .ant-input-number .ant-input-number-handler-down{
        border-top: unset;
    }

    .ant-input-number.ant-input-number {
        width: 60px;
    }
}

.step-btn.create-btn span{
    color: #ffffff;
    font-size: 14px;
}