.overview__container {
  margin: 0 80px 0 80px;
  .top {
    display: flex;
    align-items: center;
    padding: 38px 0 19px 0;
    .title {
      flex: 1;
      color: #000000;
      font-size: 28px;
    }
  }
}

.table__section {
  background-color: #FFFFFF;
  .table__section_title {
    color: #666666;
    line-height: 55px;
    font-size: 18px;
    padding-left: 10px;
  }
  .ant-table-wrapper {
    width: 100%;
    .ant-table-thead > tr > th {
      background-color: #666666;
      color: #ffffff;
    }
    .status_circle {
      display: inline-block;
      margin-right: 5px;
      background-color: #999999;
      width: 8px;
      height: 8px;
      border-radius: 4px;
    }
    .complete_status {
      background-color: #00A947;
    }
    .inprogress_status {
      background-color: #FFC107;
    }
  }

  .left {
    width: 200px;
    padding-right: 30px;

    .prev__icon {
      cursor: pointer;
      width: 25px;
      height: 25px;
      border-radius: 18px;
      background-color: white;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
    }

    .top {
      display: flex;
      font-size: 14px;
      justify-content: space-between;

      .reset__btn {
        color: #ec8526;
        font-weight: 500;
      }
    }

    .checkbox__group .ant-checkbox-group {
      display: flex;
      flex-direction: column;

      .ant-checkbox .ant-checkbox-inner {
        background-color: #e5e5e5;
        border-color: gray;
      }
    }

    .filter__item {
      margin-bottom: 20px;

      span:first-child {
        font-size: 14px;
        font-weight: 500;
      }
    }
  }
}

.ant-drawer.upload-drawer {
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .upload-drawer-title {
    display: flex;
    .title {
      flex: 1;
    }
    .close-icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #000000;
      color: #ffffff;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
    }
  }
  .drawer-actions {
    display: flex;
    align-items: center;
    background: #000000;
    box-shadow: 0px 0px 6px #00000029;
    padding: 10px 40px;
    .discard {
      flex: 1;
      cursor: pointer;
      color: #ffffff;
    }
  }
  .upload-zone-section {
    flex: 1;
    width: 80%;
    margin: 0 auto;
  }
}
