@import "../../styles/variables.scss";
.event-list-container {
  border: 1px solid #eeeeee;
  font-size: 12px;

  .hidde{
    display: none;
  }

  .clearfix::after {
       content: '';
       display: block;
       clear: both;
   }

  .fix-left-column {
    position: absolute;
    top:55px;
    left:0px;
    z-index:99;
    width: 634px;
    background-color: #fff;

  }
  .ant-collapse {
    border: none;
    width: 100%;
    .collapse-container {
      border: none;
      // width: 100%;
      // overflow-x: scroll;
      .ant-collapse-header {
         border: none;
        .event-panel-head {
          // position: relative;
          // // width: 100%;
          
          // height:35px;
          .event-title {
          // position: absolute;
          // top:0;
          // left:0; 
          // // width: 100%;
          // height:35px;
          }
          // .event-title-right {
          //   margin-left: 634px;
          //   width: calc(100% - 634px);
          //   height:35px;
          //   background-color: pink;
          // }
          
        }
      }
      .ant-collapse-content {
        border-top:0px solid #eeeeee;
      }
    }  
  }
  
  .container-top {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    .title {
      flex: 1;
      font-size: 14px;
      color: #333;
      font-weight: 500;
      line-height: 35px;
    }
    .none-click {
      font-size: 14px!important;
      color: #333;
      pointer-events: none;
      input{
          color: #333;
      }
    }
    .ant-btn.ant-btn-primary.ant-btn-sm span {
      color: #ffffff;
      font-size: 14px;
    }
  }
  .e-row {
    border-bottom: 1px solid #eeeeee;
    border-top: 1px solid #eeeeee;
  }
  .td {
    padding-left: 10px;
    border-right: 1px solid #eeeeee;
    padding: 5px 0;
  }
  .event-dashboard {
    .dashboard-head {
      display: flex;
    }
    .event-list-head {
      flex: 1;
      .head-row {
        display: flex;

        .head-bottom-container{
          display: flex;
          flex:1;
          .row-title{
            font-weight: 500;
            min-width: 50px;
          }
          .e-row.number{
            display: flex;
            width: 100%;
            .column.td.row-title{
              
            };
          }
          
        }
        .week-row-wrapper{
          flex:1;
          border:none;

          .weeks-container{
            display: flex;
            width: 100%;
            border:none;
            box-sizing: border-box;
            .num-cell{
              flex:1;
              min-width: 41px;
            }
            .cell-input {
              box-sizing: border-box;
              border: none;
              border-right: 1px solid #eeeeee;
              &:last-child {
                border-right: 0px solid transparent;
              }
            }
          }
          .column-action-container{
            display: flex;
            .td{
              height: 32px;
              border-right: 1px solid #eeeeee;
              padding: 5px 0;
              text-align: center;
              background-color: #f5f5f5;
            }
            .num-cell{
              flex:1;
            }
          }

        }

        div{
          font-size: 14px;
        }
        &:last-child {
          border-bottom: 1px solid #eeeeee;
        }
        .e-row {
          border-right: 1px solid #eeeeee;
        }
        .sortable-item {
          display: flex;
          align-items: center;
          .sort-icon-wrapper {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .colunm-row {
        font-weight: 500;
        // flex: 1.5;
        .f-1-small {
          // flex: 0.5;
          padding-left: 10px;
        }
        .f-2-small {
          // flex: 0.5;
          display: flex;
          align-items: center;
          padding-left: 10px;
        }
        .f-1 {
          // flex: 1;
        }
        .f-2-new {
          // flex: 2.4;
          display: flex;
          align-items: center;
          padding-left: 10px;
        }
        .f-3 {
          // flex: 2.4;
          display: flex;
          align-items: center;
          padding-left: 10px;
        }
      }


    }
    .event-list {
      flex: 1;
      border-right: 1px solid #eeeeee;
    }

    .week-row {
      display: flex;
      border-right: 1px solid #eeeeee;
      div {
        border-right: 1px solid #eeeeee;
        &:last-child {
          border-right: none;
        }
      }
    }
    .visit-row {
      display: flex;
      flex: 1;
      border-right: 1px solid #eeeeee;
      div {
        flex: 1;
        padding: 5px 0px;
        border-right: 1px solid #eeeeee;
        &:last-child {
          border-right: none;
        }
      }
      .colunm.td {
        font-weight: 500;
        min-width: 50px;
      }
    }
    .status-row.e-row {
      display: flex;
      flex: 1;
      padding: 0;
      .colunm.td {
        background: #f5f5f5;
      }
    }
    .e-row.number{
      display: flex;
      .td {    
        text-align: center;
        //padding: 0 2px !important;
      }
      .num-cell{
        flex:1;
        min-width: 41px;
      }

    } 
    .event-item {
      display: flex;
      position:relative;
      height: 42px;
      width: 100%;

      .events-wrapper {
        position: absolute;
        top:0;
        left:0;
        display: flex;
        // flex: 1.26;
        font-size: 14px;
        width:"634px";
        height: 42px;

        .custom-event{
          padding:0 5px;
          display: flex;
          align-items: center;
          
          .ant-input{
            margin-left: 5px;
          }

          .anticon{
            color:$theme-color;
            cursor: pointer;
          }
        }

        .my-event-td {
          width: 230px;
          // height: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-right: 3px;
          box-sizing: border-box;
          line-height: 32px;
          height: 42px;
        }
        .endpoint-td{
          width: 236.8px;
          // height: 100%;
        }

        .cost-td{
          display: flex;
          align-items: center;
          width: 110.8px;
          // height: 100%;

          .ant-input{
            margin-right: 2px;
          }
        }

        .visits-td {
          width: 56.4px;
          // height: 100%;

        }

        div {
          // flex: 1;
          padding-left: 10px;
          &.endpoint-td {
            overflow: hidden;
            padding: 0 2px;
            display: flex;
            align-items: center;
            .ant-select {
              padding-left: 0;
            }
          }
        }
        .f-1-small {
          // flex: 0.28;
        }
        .f-2-small {
          // flex: 0.62;
        }
        .f-1 {
          // flex: 1;
        }
        .f-2 {
          // flex: 1.44;
        }
        .f-3 {
          // flex: 1.36;
        }
      }

      .status-row {
        // flex: 0.84;
        display: flex;
        padding-left:634px;
        // width:100%;

        .td {
          flex: 1;
          text-align: center;
          min-width: 41px;
          &:last-child {
            border-right: none;
          }
        }

        .colunm.td {
          min-width: 50px;
        }
        .incon-wrapper {
          display: inline-block;
          cursor: pointer;
          .viewOnly{
            cursor: default;
          }
        }

      }
    }
    .ant-collapse-header {
      display: flex;
      align-items: center;
      height: 35px;
    }
    .event-panel-head {
      display: flex;
      flex: 1;
      border: none;
      div {
        // flex: 1;
      }
      .event-title {
        // width:612px;
        // flex: 1.5;
        display: flex;
        border: none;
        font-size: 14px;
        font-weight: 500;
        .name {
          // flex: 4.8;
          font-size: 16px;
          color:#333333;
          width: 444.8px;
          .add-event {
            cursor: pointer;
            font-size: 14px;
            color: #333333;
            font-weight: 400;
            display: inline-block;
            padding: 0 5px;
            border-left: 1px solid #eeeeee;
            margin-left: 10px;
          }
        }
        div {
          // flex: 1;
          padding: 5px 0;
          
        }
        .cost {
          font-weight: 700;
          width: 110.8px!important;
          // padding-left: 20px;
        }
      }
      .action-row{
        .colunm.td{
          min-width: 50px;
          background-color: #ffffff;
        }
        .td{
          border-right: 1px solid #eeeeee;
          padding: 5px 0;
          text-align: center;
          background-color: #f5f5f5;
        }
      }
    }
    .shedule-of-event-panel-body {
      //   display: flex;
    }
    .f-1 {
      flex: 1;
    }
    .f-2 {
      flex: 2;
    }

    .ant-collapse-header {
      padding-left: 10px !important;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0 !important;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding: 0;
    }
    .anticon.anticon-right.ant-collapse-arrow {
      color: $theme-color;
    }
  }
}

.modality-list-container{
  .modality-item{
    color: #333333;
  }
  .action-group{
    margin-top: 10px;
    .action{
      padding: 5px 0 5px 10px;
      border-top: 1px solid #eeeeee;
      cursor: pointer;
      color: #000000;
    }
    .whole{
      color: $theme-color;
    }
    .batch{
      color: #000000;
    }

  }

}
