@import "../../styles/variables.scss";
.event-list-container {
  border: 1px solid #eeeeee;
  font-size: 12px;

  .container-top {
    padding: 10px;
    display: flex;
    border-bottom: 1px solid #eeeeee;
    span {
      flex: 1;
      font-size: 18px;
      color: #000000;
    }
    .ant-btn.ant-btn-primary.ant-btn-sm span {
      color: #ffffff;
      font-size: 14px;
    }
  }
  .e-row {
    border-bottom: 1px solid #eeeeee;
  }
  .td {
    padding-left: 10px;
    border-right: 1px solid #eeeeee;
    padding: 5px 0;
  }
  .event-dashboard {
    .dashboard-head {
      display: flex;
    }
    .event-list-head {
      flex: 1;
      .head-row {
        display: flex;
        div{
          font-size: 14px;
        }
        &:last-child {
          border-bottom: 1px solid #eeeeee;
        }
        .e-row {
          border-right: 1px solid #eeeeee;
        }
        .sortable-item {
          display: flex;
          align-items: center;
          .sort-icon-wrapper {
            display: flex;
            flex-direction: column;
          }
        }
      }
      .colunm-row {
        font-weight: 500;
        flex: 1.5;
        .f-1-small {
          flex: 0.5;
        }
        .f-2-small {
          flex: 0.5;
        }
        .f-1 {
          flex: 1;
        }
        .f-2 {
          flex: 2.4;
        }
        .f-3 {
          flex: 2.4;
        }
      }
    }
    .event-list {
      flex: 1;
      border-right: 1px solid #eeeeee;
    }

    .week-row,
    .visit-row {
      display: flex;
      flex: 1;
      border-right: 1px solid #eeeeee;
      div {
        flex: 1;
        padding: 5px 0 5px 10px;
        border-right: 1px solid #eeeeee;
        &:last-child {
          border-right: none;
        }
      }
      .colunm.td {
        font-weight: 500;
        min-width: 50px;
      }
    }
    .status-row.e-row {
      display: flex;
      flex: 1;
      padding: 0;
      .colunm.td {
        background: #f5f5f5;
      }
    }
    .e-row.number{
      display: flex;
      .td {
        flex:1;
        text-align: center;
        padding: 0 2px !important;
      }

    } 
    .event-item {
      display: flex;

      .events-wrapper {
        display: flex;
        flex: 1.26;
        font-size: 14px;

        .custom-event{
          padding:0 5px;
          display: flex;
          align-items: center;
          
          .ant-input{
            margin-left: 5px;
          }

          .anticon{
            color:$theme-color;
            cursor: pointer;
          }
        }


        .cost-td{
          display: flex;
          align-items: center;
          .ant-input{
            margin-right: 2px;
          }
        }

        div {
          flex: 1;
          padding-left: 10px;
          &.endpoint-td {
            overflow: hidden;
            padding: 0 2px;
            display: flex;
            align-items: center;
            .ant-select {
              padding-left: 0;
            }
          }
        }
        .f-1-small {
          flex: 0.28;
        }
        .f-2-small {
          flex: 0.62;
        }
        .f-1 {
          flex: 1;
        }
        .f-2 {
          flex: 1.44;
        }
        .f-3 {
          flex: 1.36;
        }
      }

      .status-row {
        flex: 0.84;
        display: flex;

        .td {
          flex: 1;
          text-align: center;
        }
        .colunm.td {
          min-width: 50px;
        }
        .incon-wrapper {
          display: inline-block;
          cursor: pointer;
          .viewOnly{
            cursor: default;
          }
        }

      }
    }
    .ant-collapse-header {
      display: flex;
      align-items: center;
    }
    .event-panel-head {
      display: flex;
      flex: 1;
      div {
        flex: 1;
      }
      .event-title {
        flex: 1.5;
        display: flex;
        border-bottom: none;
        font-size: 14px;
        font-weight: 500;
        .name {
          flex: 4.8;
          font-size: 16px;
          color:#333333;
          .add-event {
            cursor: pointer;
            font-size: 14px;
            color: #333333;
            font-weight: 400;
            display: inline-block;
            padding: 0 5px;
            border-left: 1px solid #eeeeee;
            margin-left: 10px;
          }
        }
        div {
          flex: 1;
          padding: 5px 0;
        }
        .cost {
          font-weight: 700;
          // padding-left: 20px;
        }
      }
    }
    .shedule-of-event-panel-body {
      //   display: flex;
    }
    .f-1 {
      flex: 1;
    }
    .f-2 {
      flex: 2;
    }

    .ant-collapse-header {
      padding-left: 10px !important;
    }
    .ant-collapse-content > .ant-collapse-content-box {
      padding: 0 !important;
    }
    .ant-collapse > .ant-collapse-item > .ant-collapse-header {
      padding: 0;
    }
    .anticon.anticon-right.ant-collapse-arrow {
      color: $theme-color;
    }
  }
}
