.drawer-input-zone {
  padding-top: 20px;
}
.pdf-file-type-error{
  font-size: 20px;
  color: #d04a02
}
.upload-zone-container {
  height: 200px;
  width: 100%;
  border-radius: 20px;
  border: 1px dashed rgba(251, 127, 96, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #212529;
  background-color: rgba(255, 154, 68, 0.02);
  &:focus {
    outline: unset;
  }
  &.disabled {
    border: 1px dashed rgba(#eeeeee, 1);
    color: #eeeeee;
  }

  p {
    margin: 0;
    img {
      width: 48px;
      margin-right: 16px;
    }
  }
}
.upload-progress-container {
  p {
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    color: #2d2d2d;
  }
  .upload-progress {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .pdf-icon {
    font-size: 10px;
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    border: 2px solid #2d2d2d;
    font-weight: 500;
    color: #2d2d2d;
  }
  .progress-bar-box {
    flex: 1;
    text-align: left;
    margin: 0 15px;
    .file-name {
      font-size: 12px;
      color: #2d2d2d;
    }
    .progress {
      height: 6px;
      margin-top: 8px;
    }
    .ant-progress-bg {
      background: linear-gradient(to right, #ff9a44, #fc6076);
    }
  }
  .ant-progress-text {
    margin-top: -10px;
  }
}
