.section-text-container {
  padding: 0 20px 20px 20px;

  .section-wrapper {
    margin-bottom: 20px;
  }
  .section-content {
    white-space: pre-line;
    .content-table {
      table {
        border: 1px solid #CCCCCC;
        border-collapse: collapse;
        th, td {
          border: 1px solid #CCCCCC;
          font-size: 12px;
          padding: 5px 5px 5px 7px;
          font-weight: 600;
        &:first-child {
            width: 249px;
        }
        &:nth-child(n+2) {
          width: 100px;
        }
        }
      }
    }
  }
  .section {
    display: flex;
  }
  .section-title .text {
    box-shadow: unset;
  }
  .inclusion-txt {
    margin-bottom: 10px;
  }
  .file-content {
    border: 1px solid #2d2d2d;
    padding: 20px;
    height: 110px;
    overflow: hidden;
  }
  .btn.btn-primary {
    color: #ffffff;
  }
}
