.trial-detail-container {
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 6px #00000029;

  .top {
    display: flex;
    margin-bottom: 20px;
    .title {
      flex: 1;
      .nct-id {
        color: #ca4a04;
        font-size: 12px;
      }
      .trail-alias {
        font-size: 28px;
        color: #333333;
      }
      .update-time {
        color: #333333;
        font-size: 13px;
      }
    }
    .setting-action{
      color: #999999;
    }
    .status {
      color: #000000;
      font-size: 12px;
      padding-left: 10px;
      text-transform: uppercase;

      .my_icon.in-progress-icon, .my_icon.complete-icon{
        display: inline-block;
        width: 6px;
        height: 6px;
        margin-right: 5px;
        border-radius: 3px;

        &.in-progress-icon {
          background-color: #FFC107;
        }
        &.complete-icon {
          background-color: green;
        }
      }
    }
  }

  .info {
    .info-row {
      display: flex;
      .trial-item {
        flex: 1;
        margin-bottom: 10px;
        label {
          color: #999999;
          font-size: 14px;
          display: block;
        }
        .readonly-value {
          display: block;
          font-size: 15px;
          color: #333;
          padding-bottom: 10px;
        }
        .view-endpoint {
          color: #e68700;
          cursor: pointer;
        }
      }
    }
  }

  .edit-save-btn {
    text-align: right;
  }
}

.ant-tooltip-content .action-list {
  color: #333333;
  div {
    cursor: pointer;
  }
}
