@import "../../styles/variables.scss";
.scenarios-container {
  padding: 25px 0 50px 0;
  .container-top {
    margin-bottom: 25px;
    font-size: 20px;
    span {
      color: #333333;
      font-size: 12px;
    }
    .count {
      font-size: 18px;
    }
  }
  .module-wrapper {
    .module-item {
      margin-bottom: 20px;
      font-size: 14px;
      border-radius: 2px;
      background-color: #ffffff;
      box-shadow: 0px 0px 6px #00000029;
      .ant-btn.ant-btn-sm {
        font-size: 12px;
      }
      .complete-module-btn {
        margin-right: 10px;
      }
      .ant-btn-link {
        color: $theme-color;
        font-size: 12px;
      }
      .ant-btn-dangerous {
        color: $theme-color;
        border-color: $theme-color;
        font-size: 12px;
      }
      .top {
        display: flex;
        padding: 10px;
        border-bottom: 1px solid #eaeaea;
        .scenario-status {
          margin-left: 10px;
          font-size: 10px;
          .my_icon {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin-right: 5px;
            border-radius: 3px;
            &.in-progress-icon {
              background-color: #e68700;
            }
            &.complete-icon {
              background-color: green;
            }
          }
        }

        .module-name {
          flex: 1;
        }
      }
      .bottom {
        padding: 10px;
        color: #999999;
      }
      .scenarios-list-container {
        display: flex;
        .count {
          padding: 20px 0;
          border-right: 1px solid #eaeaea;
          width: 100px;
          text-align: center;
          font-size: 12px;
          span {
            font-size: 24px;
            font-weight: 600;
            color: #000000;
          }
        }
        .scenarios-list {
          padding: 0px 10px;
          .item-wrapper {
            // border-bottom: 1px solid #eaeaea;
          }
          .item-wrapper.average-item {
            border-bottom: 1px solid transparent;
          }
          .scenario-item.scenario-header {
            font-size: 12px;
            .title {
              border-right: 1px solid transparent;
            }
          }
          .rationale-content {
            margin-top: 20px;
            span {
              color: #999999;
              font-size: 14px;
            }
          }
          .scenario-item {
            display: flex;
            padding: 5px;

            .title.average-title {
              color: #333333;
              font-size: 12px;
            }

            .title {
              padding-right: 20px;
              border-right: 1px solid #eaeaea;
              width: 150px;
              p {
                margin-bottom: 5px !important;
                font-weight: 600;
              }
              span {
                font-size: 10px;
                color: #999999;
              }
            }

            .item-values {
              display: flex;
              padding-left: 20px;
              &.col-names {
                div {
                  font-size: 12px;
                  font-weight: normal;
                }
              }
              div {
                width: 150px;
                font-size: 16px;
                font-weight: 600;
              }
              .column {
                display: block;
                font-size: 10px;
                font-weight: 400;
              }
              .status {
                display: block;
                font-size: 10px;
                &.poor {
                  color: #c33232;
                }
                &.good {
                  color: #00a947;
                }
                &.fair {
                  color: #0084a9;
                }
              }
            }
            .item-values.average {
              div {
                font-weight: 400;
              }
            }
          }
        }
      }

      .item-wrapper.average-item {
        border-bottom: 1px solid transparent;
        background-color: #eaeaea;

        .scenario-item {
          display: flex;
          // padding-left: 110px;
          padding: 5px 0 5px 110px;
        }
        .average-title {
          padding-right: 20px;
          width: 150px;
          font-size: 12px;
        }

        .item-values.average {
          display: flex;
          flex: 1;
          padding-left: 20px;
          div {
            // flex: 1;
            width: 150px;
          }
        }
      }
    }
  }

  .scenario-dashboard {
    display: flex;
    .create-btn-wrapper {
      background-color: #ffffff;
      padding: 26px;

      .create-btn {
        border: 1px dashed #000000;
        padding: 100px 0;
        width: 188px;
        text-align: center;
        span {
          color: #ca4a04;
          font-size: 12px;
          font-weight: 600;
        }
      }

      .create-btn:hover {
        cursor: pointer;
      }
    }
    .columns {
      .title {
        height: 120px;
      }
      .col-item {
        padding: 10px 20px;
        background-color: #414c4e;
        color: #ffffff;
        position: relative;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-bottom: 1px solid #ffffff;
      }
      .col-item:after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 4px solid transparent;
        border-left: 4px solid transparent;
        border-right: 4px solid #fff;
        border-bottom: 4px solid transparent;
      }
    }

    .scenario-list {
      display: flex;
      box-shadow: 0px 0px 6px #00000029;
      .title {
        height: 120px;
      }
      .average-title {
        background-color: #eaeaea;
      }
      .btn-wrapper {
        background-color: #ffffff;
        padding: 12px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .view-btn {
          cursor: pointer;
          background-color: #414c4e;
          color: #ffffff;
          padding: 6px 0;
          width: 142px;
        }
      }

      .scenario {
        flex: 1;
        background-color: #ffffff;
        border-right: 1px solid #eaeaea;

        text-align: center;
        .title {
          padding: 10px 20px;
          span {
            color: #999999;
            font-size: 12px;
            &:first-child {
              font-size: 20px;
              color: #4d4f53;
              font-weight: 600;
            }
          }
        }
        .col-value {
          padding: 10px 20px;
          height: 75px;
          background-color: #f8f8f8;
          // padding: 12px 20px;
          border-bottom: 1px solid #ffffff;
          i {
            font-style: normal;
            font-size: 12px;
            font-weight: 600;
          }
          .percent {
            font-size: 22px;
            font-weight: 600;
            color: #414c4e;
            position: relative;
          }
          .percent::after {
            content: "";
            position: absolute;
            right: -10px;
            top: -5px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
          }
          &.good {
            .percent::after {
              background-color: #00a947;
            }
            i {
              color: #00a947;
            }
          }
          &.poor {
            .percent::after {
              background-color: #c33232;
            }
            i {
              color: #c33232;
            }
          }
          &.fair {
            .percent::after {
              background-color: #0084a9;
            }
            i {
              color: #0084a9;
            }
          }
        }
        .average-value {
          background-color: #f8f8f8;
        }
      }
    }
  }
}

.ant-tooltip.metric-scatter .ant-tooltip-inner {
  height: 130px;
  width: 400px;

  .scatter-title {
    color: #333333;
    font-size: 12px;
  }
}

.ant-drawer.complete-module-drawer {
  border: 1px solid #eaeaea;
  .submit-complete-btn {
    float: right;
  }

  .ant-drawer-content {
    .module-tip {
      font-size: 12px;
      background-color: #eaeaea;
      display: inline-block;
      padding: 0 5px;
    }
    .select-scenario-wrapper {
      border: 1px solid #eaeaea;
      margin-top: 20px;
      .scenario-table-header {
        display: flex;

        padding: 5px 10px;

        .scenario-col {
          flex: 1;
          font-size: 12px;
          text-align: center;
        }
        .scenario-name {
          text-align: left;
          font-weight: 600;
        }
      }
      .scenario-table-body {
        .scenario-table-row-wrapper {
          border-top: 1px solid #eaeaea;

          &.checked {
            background-color: #eff3f2;
          }
        }
        .scenario-table-row {
          display: flex;

          .scenario-desc {
            padding-left: 24px;
          }
          .scenario-col {
            flex: 1;
            font-size: 12px;
            text-align: center;
            padding: 5px 10px;
            border-bottom: 1px solid #eaeaea;
            &.scenario-name {
              display: flex;
              flex-direction: column;
              text-align: left;
              &.checked {
                border-bottom: 1px solid transparent;
              }
            }
            .status {
              display: block;
              &.poor {
                color: #ca4a04;
              }
            }
          }
        }
        .rationale-mark {
          padding: 10px;
          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}
