.chart__container {
  margin: 20px 80px 0 80px;
  .header {
    display: flex;
    justify-content: flex-end;
    .selector-item {
      // margin-right: 20px;
      margin-bottom: 20px;
      label {
        color: #787878;
        font-size: 10px;
        font-weight: bold;
      }
      .ant-select{
        color: #354052;
      }
    }
    .space {
      margin-left: 10px;
    }
  }
  .chart__wrapper {
    box-shadow: 0 3px 6px #00000029;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    padding: 20px 5px 20px 20px;
    .title {
      width: 100%;
      height: 16px;
      line-height: 16px;
      font-size: 14px;
      color: #999999;
      font-weight: 600;
    }
    .showMore {
      font-size: 14px;
      color: #999999;
      font-weight: 400;
      .link {
        color: #004992;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .newLine {
      margin-top: 5px;
      margin-bottom: 3px;
    }
    .right {
      float: right;
      margin-right: 5px;
    }
    .content {

    }
  }
  .top {
    display: flex;
    margin-bottom: 20px;
    .left {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      .total_study, .total_sponsor,  .total_document{
        width: 100%;
        min-width: 323px;
        min-height: 150px;
      }
    }
    .middle {
      display: flex;
      flex: 2;
      margin: 0 20px;
      .indication {
        flex: 1;
        min-width: 594px;
        min-height: 501px;
      }
    }
    .right {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      .study_phases, .study_type {
        width: 100%;
        min-width: 320px;
        min-height: 240px;
        .content {
          width: 100%;
          height: 180px;
          // overflow: hidden;
        }
      }
    }
  }
  .below {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .study_sponsor, .study_location, .study_status, .study_date {
      flex: 1;
      min-width: 630px;
      min-height: 354px;
      margin-bottom: 20px;
    }
    .study_location, .study_date {
      margin-left: 20px;
    }
  }
}

