@import "../../../styles/variables.scss";
.historical-trial-list {

  .ant-spin.ant-spin-spinning{
    span{
      font-size: 20px;
    }
  }
  .step-desc {
    color: #ddd;
  }
  
  .filter-item {
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    &.find-trial-btn-wrapper{
      text-align: center;
      button.ant-btn{
        border-color: $theme-color;
        span{
          color: $theme-color;
        }
      }
    }
    .ant-select.ant-select-show-arrow .ant-select-arrow .anticon{
      color: $theme-color;
    }

    label {
      margin-bottom: 5px;
      font-size: 10px;
      font-weight: 800;
      color: #787878;
    }
    &:last-child label{
      margin-bottom: 0;
    }
    .ant-slider.ant-slider-with-marks {
      .ant-slider-mark-text {
        font-size: 8px;
      }
      .ant-slider-handle {
        border-color: $theme-color;
      }
      .ant-slider-track {
        background-color: $theme-color;
      }
      .ant-slider-dot-active {
        border-color: $theme-color;
      }
    }
  }

  .filter-item.filter-label{
    padding: 20px;
    border-bottom: 1px solid #D8D8D8;
    span{
      color: #333333;
      font-size: 16px;
    }
  }

  .side-bar {
    border-right: 1px solid #ddd;
    font-size: 10px;
    color: #787878;

    .filter-icon {
      border: 1px solid #ddd;
      width: 30px;
      height: 30px;
      padding-top: 5px;
      margin-bottom: 30px;
    }
  }

  .historical-desc {
    padding: 30px;
    .num-desc {
      font-size: 12px;
    }

    .title{
      margin-bottom: 10px !important;
    }
    .title-desc{
      color: #999999;
      font-size: 15px;
      margin-bottom: 10px;
    }

    ul.ant-pagination{
      border-left: 1px solid #31393F33;
      border-right: 1px solid #31393F33;
      border-bottom: 1px solid #31393F33;
      margin-top: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .ant-table-container{
      border: 1px solid #31393F33;

      .ant-table-thead > tr > th{
        background: #666666;
        color: #fff;
      }

      .ant-table-tbody > tr > td{
        color: #333333;

        .nctid{
          color: #CA4A04;
        }
      }
      
    }

    .ant-table-container{
      tr > th{
        padding:10px;
      }
    }
  }
}

.chart-wrapper {
  border-right: 1px solid #31393F33;
  border-left: 1px solid #31393F33;
  padding-bottom: 10px;
  padding-top: 5px;
  display: flex;
  .chart {
    flex: 0.5;
    display: flex;

    .my-echart-wrapper {
      width: 200px;
      height: 200px;
      overflow: hidden;
      margin:0;
    }
    .my-legend-wrapper{
      margin-top: 45px;
      margin-left: -50px;

      .custom-legend{
        .my_legend{
          display: inline-block;
          width: 26px;
          height: 6px;
          border-radius: 1px;
          margin-right: 4px;
        }
        .my_legend_text{
          color: #666666;
          font-size: 10px;
          font-style:normal;
        }
      }

    }
  }
}
.summary-count {
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #31393F33;
  border-right: 1px solid #31393F33;
  border-left: 1px solid #31393F33;
  font-size: 24px;
  color: #000000;
  padding-left: 20px;

  .num-desc{
    color: #999999;
    font-size: 12px;
  }
}


