.tagged-text-container {
  line-height: 36px;
  font-family: 'Noto Sans';
  font-size: 14px;
  .chunk {
    padding: 6px 6px;
    border-radius: 4px;
    background-color: rgb(170, 150, 97);
    b {
      font-size: 12px;
      margin-left: 2px;
    }
    &.id_MEDICAL_CONDITION {
      background-color: rgba(167,159,246,1);
    }
    &.id_MEDICATION {
      background-color: rgba(247,203,129,1);
    }
    &.id_PROTECTED_HEALTH_INFORMATION {
      background-color: rgba(150,234,235,1);
    }
    &.id_TEST_TREATMENT_PROCEDURE {
      background-color: rgba(198,224,217,1);
    }
    &.id_TIME_EXPRESSION {
      background-color: rgba(253,235,143,1);
    }
    &.id_ANATOMY {
      background-color: rgba(123,150, 200,1);
    }
    &.id_6 {
      background-color: rgba(247,203,129,1);
    }
    &.id_7 {
      background-color: rgba(65, 168, 125, 0.2);
    }
    &.id_8 {
      background-color: rgba(160, 185, 14,1);
    }
    &.id_9 {
      background-color: rgba(173, 138, 180,1);
    }
    &.id_Green {
      background-color: green;
      color: white;
    }
    &.id_undefined {
      background-color: orange;
      color: white;
    }
  }
}