@import "../../styles/variables.scss";
.ant-tooltip .ant-tooltip-content .ant-tooltip-inner {
  background-color: #ffffff !important;
  color: rgba(0, 0, 0, 0.75);
}
.concept-box {
  .concept-item {
    padding: 15px 0;
    border-bottom: 1px solid #cdcdcd;
    i {
      color: #282f34;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
    }
    .item-title {
      margin-bottom: 10px;
      span {
        display: block;
      }
    }
  }
}
.text {
  mark.warn {
    // border-left: 2px solid red;
  }
  mark.suc {
    // border-left: 2px solid green;
  }
  mark {
    position: relative;
    padding: 2px 16px 2px 5px;
    display: inline-block;

    .key-word {
      display: block;
      font-size: 14px;
      font-weight: 600;
    }
    .score-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .cate-label {
      // font-size: 14px;
      // font-weight: 600;
      // color: #2d2d2d;
    }
  }

  .confidence-legend {
    position: absolute;
    top: 14px;
    right: -14px;
  }
}
.mark-tooltip-container {
  .score {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
  }

  .type-selector {
    padding: 10px 0;
    .ant-select {
      margin: 5px 0 10px 0;
    }
  }
  .remove-btn {
    color: $theme-color;
    margin-top: 10px;
    cursor: pointer;
  }
  .bottom {
    text-align: center;
  }
}
.ant-select-dropdown {
  z-index: 1100 !important;
}
.entity-types {
  .type-item {
    background-color: #cbcbcb;
  }
  .CHEMICAL {
    background-color: $CHEMICAL;
  }
  .DISEASE {
    background-color: $DISEASE;
  }
  .PROTECTED_HEALTH_INFORMATION {
    background-color: $PROTECTED_HEALTH_INFORMATION;
  }
  .TEST_TREATMENT_PROCEDURE {
    background-color: $TEST_TREATMENT_PROCEDURE;
  }
}

mark {
  background-color: transparent !important;
  .key-word {
    border-bottom: 2px solid #ededed;
  }
  .CHEMICAL {
    border-color: $CHEMICAL;
  }
  .DISEASE {
    border-color: $DISEASE;
  }
  .PROTECTED_HEALTH_INFORMATION {
    border-color: $PROTECTED_HEALTH_INFORMATION;
  }
  .TEST_TREATMENT_PROCEDURE {
    border-color: $TEST_TREATMENT_PROCEDURE;
  }
}
