@import "../../styles/variables.scss";
.extraction-content {
  .ant-tabs-nav {
    background-color: #282f34;
    color: #ffffff;
  }
  .ant-tabs-tab-active {
    background-color: #000000;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #ffffff;
    text-shadow: unset;
  }
  .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    background-color: $theme-color;
  }
  .ant-tabs-tab {
    padding: 12px 15px;
    margin-left: 0;
  }

  .ant-tabs-tab:hover {
    color: $theme-color;
  }
  .ant-tabs-top > .ant-tabs-nav {
    margin-bottom: 0;
  }

  .header {
    display: flex;
    align-items: center;
    background-color: #cbcbcb;
    padding: 0 10px;
    height: 45px;
    .ant-input-affix-wrapper {
      margin-right: 15px;
    }
    .section-name {
      font-size: 14px;
      color: #333333;
      font-weight: 600;
      flex: 1;
    }
  }
  .summary {
    padding: 8px 15px 15px 15px;
    background: #fafafa;
    box-shadow: 0px 0px 6px #00000029;
    color: #333333;
    font-size: 14px;
    p {
      margin-bottom: 10px;
    }
    .entity-types {
      display: flex;
      .type-item {
        cursor: pointer;
        margin-right: 5px;
        padding: 0px 5px;
        opacity: 0.6;
        &.active {
          opacity: 1;
        }
        span {
          display: inline-block;
        }
      }
    }
  }

  .entity-recognition {
    .content {
      padding: 15px;
    }
  }
  .entity-validation {
    .legend {
      padding: 8px 15px;
      background-color: #fafafa;
      display: flex;
      justify-content: flex-end;

      .legend-item {
        display: flex;
        align-items: center;
        margin-right: 10px;
        img {
          margin-right: 5px;
        }
      }
    }
  }
  .matched-word {
    color: red;
  }
}
// .text {
//   mark.warn {
//     // border-left: 2px solid red;
//   }
//   mark.suc {
//     // border-left: 2px solid green;
//   }
//   mark {
//     position: relative;
//     background-color: #f2f2f2;
//     padding: 2px 5px;
//     display: inline-block;
//     .key-word {
//       display: block;
//       font-size: 14px;
//       font-weight: 600;
//     }
//     .cate-label {
//       // font-size: 14px;
//       // font-weight: 600;
//       // color: #2d2d2d;
//     }
//   }

//   .confidence-legend {
//     position: absolute;
//     top: 14px;
//     right: -14px;
//   }
// }
// .mark-tooltip-container {
//   .score {
//     border-bottom: 1px solid #ffffff;
//     padding-bottom: 5px;
//   }
//   .type-selector {
//     padding: 10px 0;
//     .ant-select {
//       margin: 5px 0 10px 0;
//     }
//   }
//   .remove-btn {
//     color: $theme-color;
//     margin-top: 10px;
//     cursor: pointer;
//   }
//   .bottom {
//     text-align: center;
//   }
// }
// .ant-select-dropdown {
//   z-index: 1100 !important;
// }
// .entity-types {
//   .type-item {
//     background-color: #cbcbcb;
//   }
//   .CHEMICAL {
//     background-color: $CHEMICAL;
//   }
//   .DISEASE {
//     background-color: $DISEASE;
//   }
// }

// mark {
//   .key-word {
//     border-bottom: 2px solid #ededed;
//   }
//   .CHEMICAL {
//     border-color: $CHEMICAL;
//   }
//   .DISEASE {
//     border-color: $DISEASE;
//   }
// }
