@import "../../styles/variables.scss";
.protocol-section {
  .section-header {
    background-color: #ffffff;
    height: 68px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    .file-name {
      flex: 1;
      font-size: 16px;
      font-weight: 600;
    }
    .cancel-btn {
      display: inline-block;
      padding: 10px 14px;
      margin-right: 18px;
      cursor: pointer;
    }
    .ant-btn-group.ant-dropdown-button {
      .ant-btn {
        border-color: $theme-color;
        color: $theme-color;
        &:first-child {
          display: flex;
          align-items: center;
        }
      }
    }
    .extract-btn {
      padding: 12px;
      display: flex;
      align-items: center;
      a {
        color: $theme-color;
        text-decoration: none;
      }

      .ant-btn-group.ant-dropdown-button {
        margin-right: 10px;
      }
    }
    .back-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 60px;
      font-size: 18px;
      color: #7e7e7e;
      border: 1px solid #ededed;
      cursor: pointer;
    }
  }

  .section-body {
    display: flex;
  }

  .sidebar {
    width: 250px;
    padding: 15px 10px;
    background-color: #ebebeb;
    color: #333333;
    text-align: left;
    .section-tip {
      font-size: 12px;
      display: block;
      color: #333333;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 600;
    }
    span {
      font-size: 12px;
    }

    .ant-radio-wrapper {
      span:last-child {
        font-size: 14px;
        font-weight: 600;
      }
    }
    .ins-tip {
      margin-left: 25px;
    }
    .doc-radio {
      background-color: #ffffff;
      margin-bottom: 25px;
      border-radius: 5px;
      padding: 10px 5px;
    }
    .section-selection {
      background-color: #ffffff;
      border-radius: 5px;
      padding: 10px 5px;
      .sections-checkbox {
        margin-top: 10px;
        padding-left: 25px;
      }
    }

    .selected-section-list {
      padding-left: 20px;

      .setion-li {
        cursor: pointer;
        font-size: 12px;
        &.active {
          color: $theme-color;
        }
      }
    }
  }

  .main-content {
    background-color: #ffffff;
    flex: 1;
    overflow: scroll;
    padding-bottom: 100px;

    .text {
      font-size: 12px;
      box-shadow: 0px 0px 4px #00000029;
      padding: 10px;
    }
    .section-item {
      background-color: #ffffff;
      box-shadow: 0px 0px 4px #00000029;
      border-radius: 5px;
      margin-bottom: 30px;
      .section-title {
        font-size: 15px;
        font-weight: 600;
        color: #333333;
        background-color: #f2f2f2;
        padding: 10px 17px;
      }
      .section-content {
        padding: 27px 17px;
        font-size: 14px;
        pre {
          white-space: pre-wrap;
          word-wrap: break-word;
          font-size: 14px;
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
        }

        // white-space: pre;
      }
    }
  }
}
